<div class="box-body">
  <table class="table table-bordered table-striped datatable">
    <thead>
      <tr>
        <th class="col-md-2">School year</th>
        <th class="col-md-3">Period</th>
        <th class="col-md-2">Start date</th>
        <th class="col-md-2">End date</th>
        <th class="col-md-3">Action</th>
      </tr>
    </thead>
    <tbody>
      <% @semesters.each do |semester| %>
        <tr>
          <td><%= semester.school_year %></td>
          <td><%= key_to_text_semester semester.period %></td>
          <td><%= semester.start_date.strftime t("date") %></td>
          <td><%= semester.end_date.strftime t("date") %></td>
          <td>
            <%= render "action", semester: semester %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
