<div class="box-body">
  <table class="table table-bordered table-striped datatable">
    <thead>
      <tr>
        <th class="col-md-2">School</th>
        <th class="col-md-2">Semester</th>
        <th class="col-md-2">Teacher</th>
        <th class="col-md-2">Name</th>
        <th class="col-md-1">Number</th>
        <th class="col-md-1">Sizes</th>
        <th class="col-md-2">Action</th>
      </tr>
    </thead>
    <tbody>
      <% @classrooms.each do |classroom| %>
        <tr>
          <td><%= classroom.school_name %></td>
          <td><%= name_semester classroom.semester %></td>
          <td><%= classroom.teacher_name %></td>
          <td><%= classroom.name %></td>
          <td><%= classroom.number %></td>
          <td><%= classroom.sizes %></td>
          <td>
            <%= render "action", classroom: classroom %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
