<li class="header">ADMIN</li>
<li>
  <%= link_to schools_path do %>
    <i class="fa fa-graduation-cap"></i> <span>Schools</span>
  <% end %>
</li>
<li>
  <%= link_to notify_types_path do %>
    <i class="fa fa-commenting-o"></i> <span>Type of Comment</span>
  <% end %>
</li>
<li>
  <%= link_to semesters_path do %>
    <i class="fa fa-drupal"></i> <span>Semesters</span>
  <% end %>
</li>
<li>
  <%= link_to units_path do %>
    <i class="fa fa-clock-o"></i> <span>Unit</span>
  <% end %>
</li>
<li>
  <%= link_to subjects_path do %>
    <i class="fa fa-book"></i> <span>Subjects</span>
  <% end %>
</li>
<li class="treeview">
  <a href="#">
    <i class="fa fa-dashboard"></i> <span>Users</span>
    <span class="pull-right-container">
      <i class="fa fa-angle-left pull-right"></i>
    </span>
  </a>
  <ul class="treeview-menu">
    <li><a href="#"><i class="fa fa-circle-o text-blue"></i>Manager</a></li>
    <li><a href="#"><i class="fa fa-circle-o text-blue"></i>Teacher</a></li>
    <li><a href="#"><i class="fa fa-circle-o text-blue"></i>Parent</a></li>
  </ul>
</li>
