<li class="header">ADMIN</li>
<li>
  <%= link_to schools_path, id: "sidebar-item" do %>
    <i class="fa fa-building-o"></i> <span>Schools</span>
  <% end %>
</li>
<li>
  <%= link_to notify_types_path, id: "sidebar-item" do %>
    <i class="fa fa-commenting-o"></i> <span>Type of Comment</span>
  <% end %>
</li>
<li>
  <%= link_to semesters_path, id: "sidebar-item" do %>
    <i class="fa fa-drupal"></i> <span>Semesters</span>
  <% end %>
</li>
<li>
  <%= link_to units_path, id: "sidebar-item" do %>
    <i class="fa fa-clock-o"></i> <span>Unit</span>
  <% end %>
</li>
<li>
  <%= link_to subjects_path, id: "sidebar-item" do %>
    <i class="fa fa-book"></i> <span>Subjects</span>
  <% end %>
</li>
<li>
  <%= link_to point_types_path, id: "sidebar-item" do %>
    <i class="fa fa-adn"></i> <span>Type of Score</span>
  <% end %>
</li>
<li>
  <%= link_to students_path, id: "sidebar-item" do %>
    <i class="fa fa-graduation-cap"></i> <span>Student</span>
  <% end %>
</li>
<li class="treeview">
  <a href="#">
    <i class="fa fa-users"></i> <span>Users</span>
    <span class="pull-right-container">
      <i class="fa fa-angle-left pull-right"></i>
    </span>
  </a>
  <ul class="treeview-menu">
    <li>
      <%= link_to admin_users_path, id: "sidebar-item" do %>
        <i class="fa fa-user"></i> <span>Manager users</span>
      <% end %>
    </li>
    <li>
      <%= link_to admin_users_confirmed_path, id: "sidebar-item" do %>
        <i class="fa fa-user-secret"></i> <span>Manager confirmed</span>
      <% end %>
    </li>
  </ul>
</li>
