<li class="header">Setting</li>
<li>
  <%= link_to school_subjects_path, id: "sidebar-item" do %>
    <i class="fa fa-list-alt"></i> <span>Môn học của nhóm lớp</span>
  <% end %>
</li>
<li>
  <%= link_to semesters_path, id: "sidebar-item" do %>
    <i class="fa fa-cogs"></i> <span>Cài đặt đầu năm học</span>
  <% end %>
</li>
<li class="header">Manager</li>
<li class="treeview">
  <a href="#">
    <i class="fa fa-users"></i> <span>Users</span>
    <span class="pull-right-container">
      <i class="fa fa-angle-left pull-right"></i>
    </span>
  </a>
  <ul class="treeview-menu">
    <li>
      <%= link_to admin_users_path, id: "sidebar-item" do %>
        <i class="fa fa-user"></i> <span>Manager users</span>
      <% end %>
    </li>
    <li>
      <%= link_to admin_users_confirmed_path, id: "sidebar-item" do %>
        <i class="fa fa-user-secret"></i> <span>Manager confirmed</span>
      <% end %>
    </li>
  </ul>
</li>
<li>
  <%= link_to students_path, id: "sidebar-item" do %>
    <i class="fa fa-graduation-cap"></i> <span>Student</span>
  <% end %>
</li>
<li>
  <%= link_to classrooms_path, id: "sidebar-item" do %>
    <i class="fa fa-briefcase"></i> <span>Classrooms</span>
  <% end %>
</li>
<li>
  <%= link_to user_subjects_path, id: "sidebar-item" do %>
    <i class="fa fa-user-circle-o"></i> <span>User subject</span>
  <% end %>
</li>
<li>
  <a href="#">
    <i class="fa fa-th"></i> <span>student_subject</span>
  </a>
</li>
<li>
  <a href="#">
    <i class="fa fa-th"></i> <span>timetable</span>
  </a>
</li>
<li>
  <a href="#">
    <i class="fa fa-th"></i> <span>examination_schedule</span>
  </a>
</li>
<li>
  <a href="#">
    <i class="fa fa-th"></i> <span>Thong ke</span>
  </a>
</li>
<li>
  <a href="#">
    <i class="fa fa-th"></i> <span>ket qua</span>
  </a>
</li>
<li>
  <a href="#">
    <i class="fa fa-th"></i> <span>tot nghiep</span>
  </a>
</li>
<li class="treeview">
  <a href="#">
    <i class="fa fa-dashboard"></i> <span>import input</span>
    <span class="pull-right-container">
      <i class="fa fa-angle-left pull-right"></i>
    </span>
  </a>
  <ul class="treeview-menu">
    <li><a href="#"><i class="fa fa-circle-o text-blue"></i>user</a></li>
    <li><a href="#"><i class="fa fa-circle-o text-blue"></i>student</a></li>
    <li><a href="#"><i class="fa fa-circle-o text-blue"></i>class</a></li>
    <li><a href="#"><i class="fa fa-circle-o text-blue"></i>point</a></li>
  </ul>
</li>
<li class="treeview">
  <a href="#">
    <i class="fa fa-dashboard"></i> <span>export bao cao</span>
    <span class="pull-right-container">
      <i class="fa fa-angle-left pull-right"></i>
    </span>
  </a>
  <ul class="treeview-menu">
    <li><a href="#"><i class="fa fa-circle-o text-blue"></i>user</a></li>
    <li><a href="#"><i class="fa fa-circle-o text-blue"></i>student</a></li>
    <li><a href="#"><i class="fa fa-circle-o text-blue"></i>class</a></li>
    <li><a href="#"><i class="fa fa-circle-o text-blue"></i>point</a></li>
  </ul>
</li>
