<%= simple_form_for @student do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="box-body">
    <div class="form-group col-md-3">
      <%= f.input :student_code, placeholder: "student code", input_html: { class: "form-control" } %>
    </div>
    <div class="form-group col-md-3">
      <%= f.input :name, placeholder: "name", input_html: { class: "form-control" } %>
    </div>
    <div class="form-group col-md-3">
      <%= f.input :birth, as: :date, html5: true, input_html: { class: "form-control" } %>
    </div>
    <div class="form-group col-md-3">
      <%= f.input :phone, placeholder: "phone", input_html: { class: "form-control" } %>
    </div>
    <div class="form-group col-md-12">
      <%= f.label :lbl_parent, "Parent" %>
      <%= f.collection_select :user_id, list_parent_in_school, :last, :first,
          {include_blank: true}, {class: "chosen-select"} %>
    </div>
    <div class="form-group col-md-6">
      <%= f.input :father_name, placeholder: "father name", input_html: { class: "form-control" } %>
    </div>
    <div class="form-group col-md-6">
      <%= f.input :father_phone, placeholder: "father phone", input_html: { class: "form-control" } %>
    </div>
    <div class="form-group col-md-6">
      <%= f.input :mother_name, placeholder: "mother name", input_html: { class: "form-control" } %>
    </div>
    <div class="form-group col-md-6">
      <%= f.input :mother_phone, placeholder: "mother phone", input_html: { class: "form-control" } %>
    </div>
    
    <div class="form-group col-md-6">
      <%= f.label :lbl_address, "address" %>
      <%= f.text_area :address,  placeholder: "address", class: "form-control" %>
    </div>
    <div class="form-group col-md-6">
      <%= f.label :lbl_favorite, "favorite" %>
      <%= f.text_area :favorite,  placeholder: "favorite", class: "form-control" %>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <div class="change-avatar">
        <img id="img-prev" src="#" class="hidden image">
        <% if @student.avatar.url.present? %>
          <%= image_tag @student.avatar.url, class: "image img-avatar" %>
        <% else %>
          <%= image_tag "default_avatar_big", class: "image img-avatar"%>
        <% end %>
        <div class="middle">
          <%= f.label :avatar, "Upload", class: "btn btn-success" %>
          <%= f.file_field :avatar, class: "hidden" %>
        </div>
      </div>
    </div>
  </div>
  <div class="box-footer">
    <%= link_to "Back", students_path, class: "btn btn-default" %>
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
