<table style="width:100%">
  <tr>
    <th >STT</th>
    <th class="col-md-2">subject name</th>
    <th class="col-md-2">teacher name</th>
    <th class="col-md-1">Mieng</th>
    <th class="col-md-1">15p</th>
    <th class="col-md-1">1 tiet</th>
    <th class="col-md-1">hoc ky</th>
    <th class="col-md-1">diem trung binh</th>
    <th class="col-md-3">nhan xet</th>
  </tr>
  <% student_classroom.student_subjects.each_with_index do |subject, index| %>
    <tr>
      <td>
        <%= index + 1 %>
      </td>
      <td>
        <%= subject.name_subject %>
      </td>
      <td>
        <%= subject.name_teacher %>
      </td>
      <td>
        <%= load_score_mouth subject %>
      </td>
      <td>
        <%= load_score_fifteen subject %>
      </td>
      <td>
        <%= load_score_sixty subject %>        
      </td>
      <td>
        <%= load_score_finish subject %>
      </td>
      <td>
        <%= subject.average %>
      </td>
      <td>
        <%= subject.evaluate %>
      </td>
    </tr>
  <% end %>
</table>
