<%= link_to students_path, class: "btn btn-lg" do %>
  <i class="fa fa-backward"></i> back
<% end %>
<div class="box-body">
  <% if @student_classrooms.present? %>
    <table class="custom-table">
        <% @student_classrooms.each do |student_classroom| %>
          <tbody>
            <tr>
              <td class="page-header">
                <button type="button" class="tbtn">
                  <i class="fa fa-plus-circle %>"></i>
                </button>
              </td>
              <td class="page-header">
                <%= student_classroom.classroom.name %>
              </td>
              <td class="page-header">
                <%= key_to_text_semester student_classroom.classroom.semester.period %>
              </td>
              <td class="page-header">
                <%= student_classroom.classroom.semester.school_year %>
              </td>
              <td class="page-header">
                <%= average_of_student_in_class student_classroom %>
              </td>
              <td class="page-header">
                <%= score_to_text student_classroom %>
              </td>
              <td class="page-header">
                <%= render "action", student_classroom: student_classroom, status: true %>
              </td>
            </tr>
            <% if student_classroom.student_subjects.present? %>
              <tr class="toggler">
                <td colspan="7">
                  <%= render "grid_score_user_class", student_classroom: student_classroom %>
                </td>
              </tr>
            <% else %>
              <tr class="toggler">
                <td></td>
                <td colspan="6" class="center-attr">No value</td>
              </tr>
            <% end %>
          </tbody>
        <% end %>
    </table>
  <% else %>
    No result
  <% end %>
</div>
