<div class="box-body">
  <table class="table table-bordered table-striped datatable">
    <thead>
      <tr>
        <th class="col-md-2">Name</th>
        <th class="col-md-2">Phone</th>
        <th class="col-md-2">Avatar</th>
        <th class="col-md-1">Working</th>
        <th class="col-md-3">Subject</th>
        <th class="col-md-2">Action</th>
      </tr>
    </thead>
    <tbody>
      <% @user_subjects.each do |user| %>
        <tr>
          <td>
            <%= link_to user.name, admin_user_path(user), method: :GET,
            data: {toggle: "modal", target: "#modal-admin"}, remote: true %>
          </td>
          <td><%= user.phone %></td>
          <td><%= image_tag user.avatar.thumb.url, class: "img-thumb-size" %></td>
          <td class="center-attr"><%= working_label user.working %></td>
          <td>
            <ul>
              <% if user.user_subjects.present? %>
                <ul class="list-group">
                  <% user.user_subjects.each do |us| %>
                    <li class="list-group-item center-attr">
                      <%= us.subject_name %>
                      <ul class="list-group-submenu">
                        <li class="list-group-submenu-item danger">
                          <%= link_to user_subject_path(us), method: :DELETE, data: {confirm: "Are you sure?"} do %>
                            <span class="glyphicon glyphicon-remove"></span>
                          <% end %>
                        </li>
                      </ul>
                    </li>
                  <% end %>
                </ul>
              <% else %>
                <li>Teacher no subject</li>
              <% end %>
            </ul>
          </td>
          <td>
            <%= render "action", user: user %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
