<aside class="main-sidebar">
  <section class="sidebar">
    <div class="user-panel">
      <div class="pull-left image">
        <%= image_tag "default_avatar", class: "img-circle" %>
      </div>
      <div class="pull-left info">
        <p>Alexander Pierce</p>
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>
    <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search...">
        <span class="input-group-btn">
              <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                <i class="fa fa-search"></i>
              </button>
            </span>
      </div>
    </form>
    <ul class="sidebar-menu" data-widget="tree">
      <% if current_user.confirmed %>
        <li class="header">Notification</li>
        <li>
          <a href="#">
              <i class="fa fa-bell-o"></i> <span>Notification</span>
              <span class="pull-right-container">
                <small class="label pull-right bg-yellow">12</small>
              </span>
            </a>
        </li>
      <% end %>
      <% if current_user.admin? %>
        <%= render "layouts/left_bar/admin" %>
      <% elsif current_user.manage? %>
        <%= render "layouts/left_bar/manager" %>
      <% elsif current_user.teacher? %>
        <%= render "layouts/left_bar/teacher" %>
      <% elsif current_user.student_parent? %>
        <%= render "layouts/left_bar/parent" %>
      <% end %>
      <li class="header">Feed back</li>
      <li>
        <%= link_to current_user.admin? ? feedbacks_path : new_feedback_path, id: "sidebar-item" do %>
          <i class="fa fa-flag-o text-red"></i> <span>Feed back</span>
        <% end %>
      </li>
    </ul>
  </section>
</aside>
