<!DOCTYPE html>
<html>
  <head>
    <title>ProjectEnd</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="skin-blue sidebar-mini">
    <div class="wrapper">
      <% if user_signed_in? %>
        <%= render "layouts/header" %>
        <%= render "layouts/left_main_bar" %>
        <div class="content-wrapper">
      <% end %>
      <% flash.each do |message_type, message| %>
        <div class="time-out alert alert-<%= "#{message_type}" %> alert-dismissible">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <h4><i class="icon fa fa-warning"></i> Alert!</h4>
          <%= message %>
        </div>
      <% end %>
      <div class="my-notify"></div>
      <%= yield %>
      <% if user_signed_in? %>    
        </div>
        <footer class="main-footer">
          <%= render "layouts/footer" %>
        </footer>
        <%= render "layouts/modal" %>
      <% end %>
    </div>
  </body>
</html>
