<div class="center-attr" id="modal-signup" >
  <div class="modal-dialog modal-dialog-centered">
    <div class="background-modal modal-content">
      <div class="modal-header">
        <h4><b><%= t ".sign_up" %></b></h4>
      </div>
      <div class="modal-body modal-padding">
        <p><%= "student parent sign up" %></p>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), remote: true) do |f| %>
          <div class="error-message text-left"></div>
          <div align="left">truong bat buoc</div><br>
          <%= f.email_field :email, class:"modal-input form-control", autofocus: true, placeholder: t("user.email"), required: true %><br>
          <%= f.text_field :phone, class:"modal-input form-control", placeholder: "phone", required: true %><br>
          <%= f.text_field :name, class:"modal-input form-control", placeholder: "name", required: true %><br>
          <%= f.fields_for :confirmed_descriptions, class:"form-control" do |h| %>
            <%= h.label :lbl_school, "what is the school your child learn" %>
            <%= h.collection_select :school_id, load_school_collection, :last, :first,
                {include_blank: false}, {class: "chosen-select", id: "select-school"} %>
          <br>
            <%= h.label :lbl_school, "infor your child" %>
            <%= h.text_area :infor_student, class:"modal-input form-control", placeholder: "infor your child", required: true %>
          <% end %>
          <br>
          <%= f.password_field :password, class:"modal-input form-control",
            placeholder: "password", required: true %><br>
          <%= f.password_field :password_confirmation, class:"modal-input form-control",
            placeholder: "pass_confirm", required: true %>
          <hr>
          <div class="row pointer-add toggle" data-toggle="detail-not-input">
            <div align="left" class="col-xs-10 col-md-10">
              truong khong bat buoc
            </div>
            <i class="fa fa-plus-square"></i>
          </div>
          <div id="detail-not-input">
            <br>
            <%= f.text_field :birth, placeholder: "birth", class: "input-datetimepiker modal-input form-control", readonly: true %><br>
            <%= f.text_field :gender, class:"modal-input form-control", placeholder: "gender" %><br>
            <%= f.text_area :address, class:"modal-input form-control", placeholder: "address" %><br>
            <%= f.text_field :identity_card, class:"modal-input form-control", placeholder: "identity card" %>
          </div>
          <hr>
          <%= f.submit "sign_up", class:"modal-input form-control btn btn-danger" %>
        <% end %>
        <hr>
        <p><%= t ".already_account" %> <%= link_to t(".sign_in"), new_user_session_path %></p>
      </div>
    </div>
  </div>
</div>
